#============= init ==============
allow init block_device:blk_file write;
allow init kernel:system module_request;
allow init self:capability sys_module;
allow init self:socket { read bind create write ioctl };
allow init socket_device:sock_file { write create unlink getattr setattr };
allow init system_data_file:file append;
allow init tmpfs:lnk_file create;
allow init uio_device:chr_file write;
allow init video_device:chr_file ioctl;
allow init alarm_device:chr_file write;
allow init property_socket:sock_file write;
allow init rtc_device:chr_file ioctl;
allow init vfat:file { read getattr open };
allow init video_device:chr_file write;
allow init kmsg_device:chr_file write;
allow init mediaserver:fd use;
allow init netd:unix_stream_socket connectto;
allow init netd_socket:sock_file write;
allow init self:netlink_kobject_uevent_socket { read bind create setopt };
allow init self:netlink_route_socket { setopt nlmsg_write read bind create nlmsg_read write getattr };
allow init self:netlink_socket { read bind create write };
allow init self:netlink_xfrm_socket { bind create };
allow init self:rawip_socket { getopt create setopt };
allow init system_data_file:sock_file write;
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;
allow init smem_log_device:chr_file { write ioctl };
allow init sysfs_mpdecision:file getattr;
allow init system_data_file:fifo_file write;
allow init tee_device:chr_file { write ioctl };
allow init thermal_device:chr_file { write ioctl };
allow init kernel:security { read_policy load_policy };
allow init untrusted_app_devpts:chr_file { read write ioctl open getattr };
#allow init shell_exec:file execute_no_trans;
#allow init system_file:file { execmod execute_no_trans };
