#============= init ==============
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;
allow init self:socket { read write create ioctl };
allow init smem_log_device:chr_file { write ioctl };
allow init sysfs_mpdecision:file getattr;
allow init system_data_file:fifo_file write;
#allow init system_file:file execute_no_trans;
allow init thermal_device:chr_file { write ioctl };
allow init system_app_data_file:file lock;
allow init debugfs:dir mounton;
