#============= keystore ==============
allow keystore kernel:system module_request;
#allow keystore device:chr_file { read write ioctl open };
allow keystore vfat:file { read getattr open };

