#============= nfc ==============
#allow nfc device:chr_file { ioctl open read write };
allow nfc device:chr_file { ioctl };
allow nfc bcmnfc_device:chr_file { ioctl open read write };
