#============= qti_init_shell ==============
allow qti_init_shell ctl_default_prop:property_service set;
allow qti_init_shell sysfs_battery_supply:dir search;
allow qti_init_shell sysfs_battery_supply:file { getattr setattr };
allow qti_init_shell sysfs_devices_system_cpu:file setattr;
allow qti_init_shell system_data_file:lnk_file { create unlink };
#allow qti_init_shell dalvikcache_data_file:dir { write remove_name add_name };
#allow qti_init_shell dalvikcache_data_file:file { write execute unlink create };
allow qti_init_shell init:fifo_file write;
allow qti_init_shell servicemanager:binder call;
allow qti_init_shell system_server:binder { transfer call };
allow qti_init_shell zygote_exec:file { read getattr open execute execute_no_trans };
