allow shell su:process signal;
allow shell sysfs_battery_supply:dir search;
allow shell sysfs_usb_supply:dir search;
allow shell persist_file:dir getattr;
allow shell tombstone_data_file:dir getattr;
allow shell sysfs_battery_supply:file { read open getattr };
