# for Settings' access to VibratorHW
allow system_app vibeamp_sysfs:file rw_file_perms;

# display tuning
allow system_app livedisplay_sysfs:file rw_file_perms;

# dt2w
allow system_app touchtune_sysfs:file rw_file_perms;

# ztehw
allow system_app ztehw_sysfs:file rw_file_perms;

# proxcal
allow system_app proxcal_sysfs:file rw_file_perms;
allow system_app persist_proxcal_file:file rw_file_perms;

# fast charge
allow system_app fastcharge_sysfs:file rw_file_perms;

# advanced settings
allow system_app boost_sysfs:file rw_file_perms;

#allow system_app device:chr_file { read write ioctl open getattr };
allow system_app system_app_data_file:file execute;
