#============= untrusted_app ==============
allow untrusted_app block_device:dir { open read };
allow untrusted_app device:dir { open read };
allow untrusted_app persist_bms_file:dir getattr;
allow untrusted_app persist_drm_file:dir getattr;
allow untrusted_app persist_file:file getattr;
allow untrusted_app persist_misc_file:dir getattr;
allow untrusted_app persist_property_file:dir getattr;
allow untrusted_app persist_usf_file:dir getattr;
allow untrusted_app rootfs:dir { open read };
allow untrusted_app rootfs:file getattr;
allow untrusted_app sensors_persist_file:dir getattr;
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app tombstone_data_file:dir getattr;
allow untrusted_app cm_weather_service:service_manager find;
allow untrusted_app adbsecure_prop:file { getattr open };
allow untrusted_app adbtcp_prop:file { getattr open };
allow untrusted_app coresight_prop:file { getattr open };
allow untrusted_app device_logging_prop:file { getattr open };
allow untrusted_app mmc_prop:file { getattr open };
allow untrusted_app mpdecision_prop:file { getattr open };
allow untrusted_app recovery_prop:file { getattr open };
allow untrusted_app safemode_prop:file { getattr open };
allow untrusted_app sys_usb_configfs_prop:file { getattr open };
allow untrusted_app sys_usb_controller_prop:file { getattr open };
allow untrusted_app userinit_prop:file { getattr open };
allow untrusted_app sysfs:dir { open read };
allow untrusted_app debugfs:file { getattr };
