#============= untrusted_app ==============
#allow untrusted_app device:chr_file { read write ioctl open };
allow untrusted_app qmuxd_exec:file { read execute open execute_no_trans };
allow untrusted_app rild_exec:file { read execute open execute_no_trans };
