#============= zygote ==============
allow zygote kernel:system module_request;
allow zygote servicemanager:binder call;
allow zygote system_server:binder { transfer call };
